	/* Contact Form 7 styles */
		p + div.wpcf7,
		h1 + div.wpcf7,
		h2 + div.wpcf7,
		h3 + div.wpcf7,
		h4 + div.wpcf7,
		h5 + div.wpcf7,
		h6 + div.wpcf7,
		ul + div.wpcf7,
		ol + div.wpcf7,
		div + div.wpcf7 {margin-top: 1.5em}
		.wpcf7 form {margin-top: 0}
			.wpcf7 p {margin-top: 1em}
				.wpcf7 p:first-child {margin-top: 0}
			.wpcf7-form-control-wrap br {display: none}
			.wpcf7 span.wpcf7-list-item {
				display: block;
				padding-bottom: .5em;
				margin: 0;
			}


